.section {
    width: 100%; 
    padding-top: 100px; 
    padding-bottom: 100px; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 25%);
    display: block;
    overflow: auto; 
    position: relative; 
    height: 100%; 
}

html {
    height: 100%; 
}

* {
    box-sizing: border-box;
}

#paragraph {
    text-align: center;
    width: 70%;
    margin: auto; 
    padding: 2vw;   
}

.heading {
    color: white; 
    font-family: "Tilt Warp"; 
    font-weight: 100; 
    font-size: 7vw;
    margin-bottom: 0;  
    margin-top: 5vw; 
}

.subtext {
    color: #67A6BE; 
    font-family: "Mundial";
    font-weight: 100; 
    font-size: 3vw;  
    margin-top: 2vw; 
}

.send_us {
    color: white; 
    font-family: "Mundial";
    font-weight: 100; 
    font-size: 3vw;  
}

.highlight {
    color: #67A6BE;
  }
  
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    justify-items: center; 
    width: 75vw; 
    height: 75vw;
    margin: auto; 
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 75%);
    border-radius: 50%; 
    padding: 8vw;  
}

.form-wrapper {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  height: min-content; 
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px) {
  .form-row {
    flex-direction: row;
  }
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
    color: white; 
    font-family: "Mundial";
    font-weight: 100; 
    font-size: 1.8vw; 
    margin-bottom: .5vw; 
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1vw;
  transition: border-color 0.3s ease;
  font-family: "Mundial";
  font-weight: 100; 
  background-color: black; 
  color: white; 
}

input:focus,
textarea:focus {
  border-color: #67A6BE;
  outline: none;
}

::placeholder {
    color: white; 
    opacity: 50%;
}

@media (max-width: 600px) {
    .circle {
        width: 100%; 
        height: 0;  
        padding-bottom: 100%; 
    }

    label {
        font-size: 3vw; 
    }

    .send_us {
        font-size: 3.5vw; 
    }

    ::placeholder {
        font-size: 2vw; 
    }
}

.feedback {
  font-size: 0.85rem;
  color: #d9534f;
  margin-top: 0.25rem;
  display: none;
}

.submit-btn {
  padding: 0.75rem;
  background-color: #67A6BE;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Tilt Warp";
  font-weight: 100; 
  width: 100%; 
  margin: auto; 
}

.submit-btn:hover {
  background-color: #558ca2;
}

.form-result {
  text-align: center;
  color: #555;
  font-size: 0.95rem;
}

.info {
    margin: auto; 
    justify-items: center;
    width: 100%; 
}

.contact_info {
    color: #67A6BE; 
    font-family: "Mundial";
    font-weight: 100; 
    font-size: 3.5vw; 
    letter-spacing: 0.2em;
    margin: 0 0 1vw 0; 
}

.text {
    color: white; 
    font-family: "Tilt Warp";
    font-weight: 100; 
    font-size: 2vw; 
    margin: 0 0 3vw 0; 
}

#disc { 
    text-decoration: none;
    width: 5vw; 
    border: none;
    justify-content: center;
}

#disc:hover svg path {
    transition: fill 0.5s ease-in-out;
    fill: rgb(140, 140, 140); 
}

#git {
    text-decoration: none;
    width: 5vw; 
    border: none;
}

#git:hover svg path {
    transition: fill 0.5s ease-in-out;
    fill: rgb(140, 140, 140); 
}

#mail {
    text-decoration: none;
    width: 5vw; 
    border: none; 
}

#mail:hover svg path {
    transition: fill 0.5s ease-in-out;
    fill: rgb(140, 140, 140); 
}

.icons {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%; 
    justify-items: center; 
    padding: 0 0 3vw 0;
}




