.section {
    width: 100%; 
    padding-top: 100px; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 25%, rgba(0,0,0,1) 39%, rgb(24, 24, 24) 86%);
    display: wrap;
    overflow: hidden; 
    position: relative; 
}

* {
    box-sizing: border-box;
}

#subheading {
    width: 100%;    
}

.sub {
    font-family: "Tilt Warp"; 
    color: white; 
    font-weight: 100; 
    font-size: 4vw; 
    width: 72%; 
    padding: 6vw 0vw 5vw 13vw; 
    z-index: 2;
}

#feature_grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 0vw 0vw 17vw 5vw; 
    z-index: 2;
}

#feature {
    width: 25vw; 
}

#icon {
    background-color: #67A6BE; 
    box-shadow: -8px 8px #182226; 
    width: 6vw; 
    height: 6vw;  
    border-radius: 10%;
    text-align: center;
}

#icon svg {    
    display: block; 
    margin: auto;
    padding: 0.7vw;   
}

.heading {
    font-family: "Tilt Warp"; 
    color: white; 
    font-weight: 100; 
    font-size: 1.5vw; 
    margin-bottom: 5px; 
}

.text {
    margin-top: 0px;  
    font-family: "Mundial";
    font-weight: 100; 
    color: #67A6BE;
    font-size: 1.5vw; 
}


#bg1 img{
    width: 800px; 
    transform: scaleX(-1);
    opacity: 20%;   
    max-width: 100%;
}

#bg1 {
    height: min-content; 
    position: absolute; 
    top: 80px; 
    right: 0; 
    overflow: hidden; 
    max-width: 100%;
    z-index: 1;
}

#bg2 img{
    width: 900px; 
    -webkit-transform: scaleX(-1) rotate(160deg);
    opacity: 20%;   
    max-width: 100%;
}

#bg2 {
    height: min-content; 
    position: absolute; 
    bottom: 0;  
    left: -300px;  
    overflow: hidden; 
    max-width: 100%;
    z-index: 1;  
}


@media screen and (max-width: 480px) {  /* For mobile devices */
    body {
        overflow-x: hidden; 
    }
    
    .sub {
        padding: 0vw 0vw 5vw 13vw; 
    }

    #bg1 img{
        width: 300px; 
        transform: scaleX(-1);
        opacity: 20%;   
        max-width: 100%;
    }
    
    #bg1 {
        height: min-content; 
        position: absolute; 
        top: 30px; 
        right: 0; 
        overflow: hidden; 
        max-width: 100%;
        z-index: 1;
    }
    
    #bg2 img{
        width: 300px;
        height: 300px;  
        -webkit-transform: scaleX(-1) rotate(160deg);
        opacity: 20%;   
        max-width: 100%;
    }
    
    #bg2 {
        height: min-content; 
        position: absolute; 
        bottom: 0;  
        left: -110px;  
        overflow: hidden; 
        max-width: 100%;
        z-index: 1;  
    }
}
