.section {
    width: 100%; 
    padding-top: 100px; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 25%, rgba(0,0,0,1) 39%, rgb(24, 24, 24) 86%);
    display: wrap;
    overflow: hidden; 
    position: relative; 
    height: 100%; 
    z-index: 0; 
}

html {
    height: 100%; 
}

* {
    box-sizing: border-box;
}

#subheading, #feature_grid {
    z-index: 10; 
}

#subheading > * {
    z-index: 10; 
}

#subheading {
    width: 100%;    
}

.sub {
    font-family: "Tilt Warp"; 
    color: white; 
    font-weight: 100; 
    font-size: 4vw; 
    width: 72%; 
    padding: 6vw 0vw 5vw 13vw; 
}

#feature_grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 0vw 0vw 17vw 5vw; 
}

#feature_grid > * {
    z-index: 10; 
}

#feature {
    width: 25vw; 
}

#icon {
    background-color: #67A6BE; 
    box-shadow: -8px 8px #182226; 
    width: 6vw; 
    height: 6vw;  
    border-radius: 10%;
    text-align: center;
}

#icon svg {    
    display: block; 
    margin: auto;
    padding: 0.7vw;   
}

.heading {
    font-family: "Tilt Warp"; 
    color: white; 
    font-weight: 100; 
    font-size: 1.5vw; 
    margin-bottom: 5px; 
}

.text {
    margin-top: 0px;  
    font-family: "Mundial";
    font-weight: 100; 
    color: #67A6BE;
    font-size: 1.5vw; 
}

#bg1, #bg2 {
    z-index: 1; 
}

#bg1 img, #bg2 img {
    pointer-events: none; 
}


#bg1 img{
    width: 50vw; 
    transform: scaleX(-1);
    opacity: 20%;   
    max-width: 100%;
}

#bg1 {
    height: min-content; 
    position: absolute; 
    top: 50px; 
    right: 0; 
    overflow: hidden; 
    max-width: 100%;
}

#bg2 img{
    width: 50vw; 
    -webkit-transform: scaleX(-1) rotate(170deg);
    opacity: 20%;   
    max-width: 100%;
}

#bg2 {
    height: min-content; 
    position: absolute; 
    bottom: 0;  
    left: -20vw;  
    overflow: hidden; 
    max-width: 100%; 
}


@media screen and (max-width: 480px) {  /* For mobile devices */
    .section {
        height: max-content; 
    }

    body {
        height: 100%;  
    }
    
    .sub { 
        font-size: 6vw; 
        width: 95%; 
        padding: 5vw; 
        margin: 0px; 
    }

    #subheading {
        width: 100%; 
        margin: 0; 
        padding: 0px 0px 6vw 0px; 
    }

    #bg1 img{
        width: 300px; 
        transform: scaleX(-1);
        opacity: 20%;   
        max-width: 100%;
    }
    
    #bg1 {
        height: min-content; 
        position: absolute; 
        top: 30px; 
        right: 0; 
        overflow: hidden; 
        max-width: 100%;
    }
    
    #bg2 img{
        width: 300px;
        height: 300px;  
        -webkit-transform: scaleX(-1) rotate(160deg);
        opacity: 20%;   
        max-width: 100%;
    }
    
    #bg2 {
        height: min-content; 
        position: absolute; 
        bottom: 0;  
        left: -110px;  
        overflow: hidden; 
        max-width: 100%;
    }

    #bg1, #bg2 {
        z-index: 1; 
    }
    
    #bg1 img, #bg2 img {
        pointer-events: none; 
    }

    #subheading, #feature_grid {
        z-index: 10; 
    }
    
    #subheading > * {
        z-index: 10; 
    }
    
    #feature_grid > * {
        z-index: 10; 
    }

    #feature_grid {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        padding: 0vw 0vw 17vw 5vw; 
    }

    #feature {
        width: 44vw; 
    }

    #icon {
        width: 15vw; 
        height: 15vw;  
    }
    
    #icon svg {    
        padding: 2vw;   
    }
    
    .heading {
        font-size: 4vw; 
    }
    
    .text {
        font-size: 3vw; 
    }
    
}
