   body {
    margin: 0px; 
    padding: 0px; 
    background-color: #C7DBE6; 
  }
  
  .area { 
    width: 100%;
    height: 100%;  
    padding: 0px;
    margin: 0px;
    display: grid;
  }
  
  #header {
    display: grid; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background-color: black;
    z-index: 1000;
    padding: 0 2%;
    box-sizing: border-box;
}

  
  #logo { 
    position: relative;
    height: 4vw;
    grid-column-start: 1;  
  }

  #logo_container {
    width: min-content; 
  }
  
  #navbar {  
    margin: auto; 
    justify-self: center;
    width: min-content  ; 
    height: 5vw; 
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    font-family: "mundial", sans-serif;
    font-style: normal;
    font-weight: 100;
    column-gap: 3vw;
    grid-column-start: 2;  
  }

  #startbar {
    grid-column-start: 3;
    justify-self: right; 
    height: 4w;
    display: grid; 
    grid-template-columns: 1fr 1fr 2fr; 
    align-items: center;
    column-gap: 0.1vw; 
  }

  #discord svg{
    align-items: center; 
    height: 2vw; 
  }
  
  #discord:hover #discord_icon path {
    transition: fill 0.3s ease-in-out;
    fill: rgb(140, 140, 140); 
  }

  #github svg{
    align-items: center;
    height: 2vw; 
  }
  
  #github:hover #github_icon path {
    transition: fill 0.3s ease-in-out;
    fill: rgb(140, 140, 140); 
  }

#start {
    background-color: #67A6BE;
    border-radius: 1mm;
    display: inline-block; 
    text-align: center;
    transition: background 0.3s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
    color:#ffffff;
    font-family: "mundial", san-serif;
    font-weight: 100; 
    font-size: 1vw;
    padding: 0.5vw;
    width: 8vw;
    text-decoration: none;
}
#start:hover {
    transition: background 0.3s ease-in-out;
    background-color:#4d798a;
}
#start:active {
    position:relative;
    top:1px;
}
  
  #page {
    color: white; 
    font-weight: 100; 
    font-size: 1.2vw; 
    text-align: center; 
    text-decoration: none;
    width: min-content;
    height: min-content; 
    white-space: nowrap; 
  }

  #page:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(140, 140, 140);
  }

  #home {
    color: #67A6BE; 
    font-weight: 100; 
    font-size: 1.2vw; 
    text-align: center; 
    text-decoration: none;
    width: min-content;
    height: min-content; 
  }

  #home:hover {
    transition: color 0.3s ease-in-out;
    color: #4d798a;
  }

  #footer {
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    position: absolute; 
    align-items: center;
    height: 120px; 
    background-color: black;
    box-shadow: 0 -0.2px 0 white;
    width: 100%; 
    max-width: 100vw;
    padding: 0 2%;
    box-sizing: border-box;  
  }

  #bottomstartbar {
    padding-right: 25px;
    grid-column-start: 3;
    justify-self: right;
    width: 100px; 
    height: 50px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    position: relative; 
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    #header {
        flex-direction: column;
        height: auto;
        width: 100%; 
        padding: 10px;
    }

    #navbar {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    #startbar {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    #footer {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 15px;
    }

    #navbar {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    #startbar {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    #footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 10px;
        position: fixed; 
        width: 480px; 
    }

    #navbar {
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    #startbar {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    #footer {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }
}
  
  