.section {
    width: 100%; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 14%);
    display: flex;
    justify-content: center; 
    overflow: hidden; 
}

#top_section {
    background: linear-gradient(180deg, rgb(24, 24, 24) 14%, rgba(0,0,0,1) 26%);
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
}

* {
    box-sizing: border-box;
}

#impact {
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 35%);
    justify-items: center;
}

#hero { 
    width: 100%; 
    padding: 20vw 0vw 20vw 15vw; 
    margin: auto; 
    z-index: 1; 
}

.subtitle {
    font-size: 20px;
    font-weight: 100;
    font-family: "Tilt Warp";
    width: max-content; 
    color: white;  
    margin-bottom: 0; 
    z-index: 1;
}

.slogan {
    font-size: 60px;
    font-weight: 100;
    font-family: "Tilt Warp";
    margin: 10px 0;
    color: white; 
    width: 650px; 
    margin-bottom: 0; 
    z-index: 1;
}

.description {
    color: #67A6BE;
    font-size: 22px;
    font-family: "mundial", sans-serif; 
    font-weight: 100; 
    margin-bottom: 20px;
    width: 650px; 
    margin-top: 3px;
    z-index: 1;
}

.cta-button {
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: "mundial", sans-serif; 
    font-weight: 400; 
    padding: 8px 20px 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    text-align: center;
}

.cta-button:hover {
    background-color: black;
    color: white; 
    box-shadow: inset 0 0 1px 2px white;
}

.hero-image {
    position: relative; 
    right: 5vw;  
    width: min-content; 
    height: min-content; 
    z-index: 0; 
}

.hero-image img{ 
    position: relative; 
    width: 30vw; 
    overflow: hidden; 
    height: auto; 
}

.why_section {
    width: 100%; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 14%);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.why {
    padding: 50px 200px 50px 200px; 
    align-items: center; 
    width: 76vw;
    height: min-content; 
}

.why_sub {
    justify-content: center;
    color: #67A6BE; 
    font-family: "mundial", sans-serif; 
    font-weight: 500; 
    font-size: 50px; 
    letter-spacing: 8px; 
    margin-bottom: 0; 
}

.why_slogan {
    font-size: 50px;
    font-weight: 100;
    font-family: "Tilt Warp";
    margin-bottom: 0;
    margin-top: 20px; 
    color: white; 
}

.why_desc {
    color: rgb(140, 140, 140); 
    font-size: 30px;
    font-weight: 100;
    font-family: "mundial", sans-serif;
    text-align: center;
    margin-top: 20px; 
}

.boxes {
    display: flex; 
    width: 100%; 
    height: min-content; 
    justify-content: center;
    gap: 7vw; 
    padding-bottom: 125px;
    overflow: hidden; 
    max-width: 100%;
}

.box {
    text-align: left; 
    background-color: #182226; 
    padding: 2vw 5vw 3vw 2vw; 
    border-radius: 5px; 
    border-bottom: 20px solid #67A6BE; 
}

.box_head {
    margin-top: 15px; 
    color: white;
    font-weight: 100;
    font-family: "Tilt Warp";
    margin-bottom: 0; 
}

.box_desc {
    color: #67A6BE;
    font-weight: 500;
    font-family: "mundial", sans-serif;
    margin-top: 10px; 
}

.learn_more {
    color: white; 
    text-decoration: none;
    font-weight: 100;
    font-family: "Tilt Warp";
    transition: color 0.3s ease-in-out;
}

.learn_more:hover {
    color: rgb(140, 140, 140); 
}

.stat_sub {
    color: white; 
    font-weight: 100;
    font-family: "Tilt Warp";
    font-size: 60px;
    width: 25vw; 
}

#stats {
    display: flex;  
    padding: 50px 0px 50px 0px; 
    margin: auto; 
    align-items: center;
    z-index: 2;
    position: relative; 
}

.stat {
    width: min-content; 
    height: min-content; 
    display: inline-block; 
    text-align: left; 
    padding-left: 80px; 
    padding-right: 80px;
    border-right: 1px solid #67A6BE;
}

.number {
    color: white; 
    font-weight: 100;
    font-family: "Tilt Warp";
    font-size: 60px; 
    margin: auto;  
    
}

.caption {
    color: #67A6BE; 
    font-weight: 100;
    font-size: 30px; 
    font-family: "Tilt Warp";
    margin: auto; 
}

#colleges {
    border-right: none; 
}

#bg img{
    width: 400px; 
    transform: scaleX(-1);
    opacity: 20%;   
    max-width: 100%;
}

#bg {
    height: min-content; 
    position: absolute; 
    top: 0; 
    right: 0; 
    overflow: hidden; 
    max-width: 100%;
}

#impact {
    overflow: hidden; 
    width: 100%; 
    position: relative;  
}

@media screen and (max-width: 1024px) {
    .why {
        padding: 30px 50px;
        width: 90%;
    }

    .stat_sub {
        width: 50vw;
        max-width: 90%;
        text-align: center; 
    }
    
}

@media screen and (max-width: 768px) {  /* For tablets and smaller screens */
    #hero {
        padding: 10vw 5vw;
        text-align: center;
    }

    .subtitle, .slogan, .description {
        text-align: center;
        width: auto;
    }

    .description {
        font-size: 18px; 
    }

    .slogan {
        font-size: 50px; 
    }

    .hero-image {
        right: 0;
        width: 100%;
        text-align: center;
        padding-top: 50px; 
    }

    .hero-image img {
        width: 100%;
        max-width: 500px;
    }

    .boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
         
    }

    .box {
        width: 30vw;  
    }

    .why {
        padding: 20px;
        width: 90%;
    }

    #stats {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .stat {
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid #67A6BE;
        width: 100%;
    }

    .stat_sub {
        padding-right: 0; 
        text-align: center; 
    }

    #colleges {
        border-bottom: none;
    }
}

@media screen and (max-width: 480px) {  /* For mobile devices */
    #top_section {
        flex-direction: column;
        justify-items: center;
        padding: 30px 0px 30px 0px;  
    }

    #hero {
        width: 90vw; 
    }

    .hero-image img {
        width: 70vw; 
    }

    .hero-image {
        padding-left: 10vw; 
    }

    .slogan {
        font-size: 35px;
        padding: 0px; 
    }

    .description {
        font-size: 13px;
        padding: 0px;
    }

    .subtitle {
        font-size: 13px; 
    }

    .cta-button {
        font-size: 13px;
    }

    .why_sub, .why_slogan {
        font-size: 25px;
    }

    .why_desc {
        font-size: 17px;
    }

    .box {
        padding: 3vw 6vw 4vw 3vw;
        width: 40vw; 
    }
    
    .box_desc {
        font-size: 13px; 
    }

    .box_head {
        font-size: 15px; 
    }

    .learn_more {
        font-size: 13px; 
    }

    .stat_sub, .number {
        font-size: 40px;
    }

    .stat_sub {
        padding-right: 0; 
        text-align: center;
    }

    .caption {
        font-size: 20px;
    }
}
