.section {
    width: 100%; 
    background: rgb(61,61,61);
    background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 40%);
    display: flex;
    justify-content: center; 
    overflow: hidden; 
}

* {
    box-sizing: border-box;
}

#heading-section {
    padding-top: 100px; 
}

#title {
    text-align: right;
    margin-left: auto; 
    display: flex; 
    flex-direction: column;
    padding: 10vw 5vw 10vw 0vw; 
    z-index: 5; 
}

.head {
    color: white; 
    font-family: "Tilt Warp";
    font-weight: 100; 
    font-size: 4.5vw;  
    width: 60vw; 
    margin: 0; 
}

.sub {
    color: rgb(140, 140, 140); 
    font-family: "Mundial"; 
    font-weight: 100; 
    font-size: 2vw; 
    width: 40vw; 
    margin-left: auto; 
    margin-top: 0.5vw; 
}

#laptop img{
    width: 50vw; 
}

#bg img{
    width: 50vw; 
    transform: scaleX(1);
    opacity: 20%;   
    max-width: 100%;
}

#bg {
    height: min-content; 
    position: absolute; 
    top: 5vw; 
    left: 0; 
    overflow: hidden; 
    max-width: 100%;
}

#changes {
    display: column; 
}

#temp {
    color: white; 
    font-size: 5vw; 
    font-family: "Tilt Warp";
    font-weight: 100; 
    padding: 20vw; 
    width: 100%; 
}

.typewriter {
    display: flex; 
    justify-content: right; 
}

.typewriter span{
    display: inline; 
    overflow: hidden;  
    white-space: nowrap;
    border-right: white 1px solid; 
    animation: typing 3s steps(1) forwards, 
    blink 1s step-end infinite; 
}

@keyframes typing {
    0%   { width: 0ch; }
    10%  { width: 0.9ch; }
    20%  { width: 1.85ch; }
    30%  { width: 2.77ch; }
    40%  { width: 3.69ch; }
    50%  { width: 4.59ch; }
    60%  { width: 5.49ch; }
    70%  { width: 5.88ch; }
    80%  { width: 6.9ch; }
    90%  { width: 7.75ch; }
    100% { width: 10ch; }
}

@keyframes blink {
    50% {
        border-color: transparent; 
    }
}
